@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  background: var(--surface-ground);
  color: var(--text-color);
}
